<div class='body'>
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-product-list></app-product-list> -->
  <!-- <app-demo1 /> -->
  <!-- <app-pipes-demo></app-pipes-demo> -->
  <!-- <app-parent-demo></app-parent-demo> -->
  <!-- <app-clock-demo1></app-clock-demo1> -->
  <!-- <app-http-demo1></app-http-demo1> -->
  <!-- <app-user-crud></app-user-crud> -->
  <!-- <app-comment-demo></app-comment-demo> -->
  <!-- <app-user-list></app-user-list> -->
  <!-- <app-observable-demo1></app-observable-demo1> -->
  <!-- <app-observable-demo2></app-observable-demo2> -->
  <!-- <app-observable-demo3></app-observable-demo3> -->
  <!-- <app-subject-demo1></app-subject-demo1> -->
  <!-- <app-employee-list></app-employee-list>
  <app-employee-add></app-employee-add> -->
  <!-- <app-signal-demo1></app-signal-demo1> -->
  <!-- <app-signal-demo2></app-signal-demo2> -->
  <!-- <app-form-demo1></app-form-demo1> -->
   <!-- <app-template-form-demo1></app-template-form-demo1> -->
   <!-- <app-model-form-demo1></app-model-form-demo1> -->
   <!-- <app-dynamic-form></app-dynamic-form> -->
    <router-outlet></router-outlet>
</div>
